/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */
#container{
    height: 200px;
    width: 100%;
    position: relative;
}
#belt_header{
    background-color: #778899;
 /*   width: 200px; */
     height: 100px;
    width: 100%;
    z-index: 3;
    top: 10px;
    position: absolute;
    direction:rtl;
}
#avatar_div{
    position: absolute;
    top: 70px;
    left: 20px;
    z-index: 4;
}
#belt_vertical{
    left:10px;
    background-color: #a9a9a9;
    position:absolute;
    height: 700px;
    width: 150px;
z-index:-10;
}