<!DOCTYPE html>
<html>
<head>
  <title>ForumROR</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
 <div id="container">
        <div id="belt_header">
            <h1>Forum ROR</h1>
          <!--  <button type="submit">Logout</button> -->
          <!--  <button type="submit">My Profile</button>
            <button type="submit">Management</button> -->
            <button type="submit">Main Page</button>

        </div>
        <div id="avatar_div">
            <img src="avatar.jpg" alt="avatar" height="100" width="100">
        </div>
        <div id="belt_vertical">

        </div>
    </div>
<%= yield %>

</body>
</html>
